.app-logo {
  width: 200px;
  height: 100px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.ul-elements {
  display: flex;
}

.ul-elements > li {
  margin: 20px;
  font-size: 20px;
  list-style-type: none;
}

.res-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

.restarntas {
  display: flex;
  flex-wrap: wrap;
}
.res-cards {
  display: flex;
  flex-wrap: wrap;
}
